<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{site.creator}}">
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="{{site.keywords_long}}">

  <!-- Primary Meta Tags -->
  <title>{{site.long_title}}</title>
  <meta name="title" content="{{site.long_title}}">
  <meta name="description" content="{{site.description}}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:title" content="{{site.long_title}}">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/rastercrow.me/images/posts/8-6-20/thumbnail-home.webp">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{site.url}}">
  <meta name="twitter:title" content="{{site.long_title}}">
  <meta name="twitter:description" content="{{site.description}}">
  <meta name="twitter:image" content="https://s3.eu-central-1.amazonaws.com/rastercrow.me/images/posts/8-6-20/thumbnail-home.webp">

  <link rel="icon" href="{{- 'assets/data/browser-icon.png' | relative_url -}}">

  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  

  <link href="{{- 'assets/css/style.css' | relative_url -}}" rel="stylesheet">
  
</head>

<body>
  <div id="background"></div>
  <div class="d-flex justify-content-center">
    <div id="radio-language" class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="language" id="lan-en" value="en" autocomplete="off" checked> EN
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="language" id="lan-it" value="it" autocomplete="off"> IT
      </label>
    </div>
  </div>

  <div id="accordion">
    <div class="container-fluid  top-banner ">
      <h1 id="title">Alexandru Stefan Andries</h1>
      <div id="navbar" class="d-flex flex-row justify-content-center">
        <div id="infobutton" class="p-2 banner-text ">
          <a id="infoTitle" data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false"
            aria-controls="collapseInfo">
            Info
          </a>
        </div>
        <div id="portfoliobutton" class="p-2 banner-text ">
          <a id="portfolioTitle" data-toggle="collapse" href="#collapsePortfolio" role="button" aria-expanded="false"
            aria-controls="collapsePortfolio">
            Portfolio
          </a>
        </div>
        <div id="contactsbutton" class="p-2 banner-text ">
          <a id="contactsTitle" data-toggle="collapse" href="#collapseContacts" role="button" aria-expanded="false"
            aria-controls="collapseContacts">

          </a>
        </div>
        <div id="blogbutton" class="p-2 banner-text">
          <a id="blogTitle" data-toggle="collapse" href="#collapseBlog" role="button" aria-expanded="false"
            aria-controls="collapseBlog">
            Blog
          </a>
        </div>
      </div>
    </div>
    <div id="content" class="container justify-content-center ">
      <div class="accordion-group">
        <!-- Per mettere solo un collapse alla volta aggiungere il data parent ai vari collapse. in questo caso data-parent="#accordion"-->
        <div class="collapse indent" id="collapseInfo">
          <div class="card shadow card-body">
            <div class="d-lg-flex .flex-row">
              <img id="profileImage" src="{{- 'assets/data/alex.jpeg' | relative_url -}}" alt="Profile image"
                class="img-fluid rounded">
              <div class=".flex-column">
                <p id="infoText" class="card-inner-text">
                </p>
                <a id="moreinfoButton" href="#moreInfoCollapse" data-toggle="collapse">Want to know moreeee</a>

                <div id="moreInfoCollapse" class="collapse">
                  <p id="moreInfoText" class="card-inner-text">
                    Lorem ipsum dolor text....
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapsePortfolio">
          <div class="card shadow card-body ">
            <div id="carouselPortfolio" class="carousel slide " data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselPortfolio" data-slide-to="0" class="active"></li>
                <li data-target="#carouselPortfolio" data-slide-to="1"></li>
                <li data-target="#carouselPortfolio" data-slide-to="2"></li>
                <li data-target="#carouselPortfolio" data-slide-to="3"></li>
                <li data-target="#carouselPortfolio" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="https://github.com/RasterCrow/Boxoffice_Italia" rel="noopener" target="_blank">
                    <img src="{{- 'assets/data/boxoffice_banner.jpeg' | relative_url -}}" class="d-block w-100"
                      alt="Boxoffice Italia Banner">
                  </a>
                  <div id="slide4" class="carousel-caption d-none d-md-block">
                    <h5 id="slide4Title">Second slide label</h5>
                    <p id="slide4Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="https://wishlister.rastercrow.me" rel="noopener" target="_blank">
                    <img src="{{- 'assets/data/wishlister.webp' | relative_url -}}" class="d-block w-100"
                      alt="Wishliter Banner">
                  </a>
                  <div id="slide6" class="carousel-caption d-none d-md-block">
                    <h5 id="slide6Title">Second slide label</h5>
                    <p id="slide6Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
                <div class="carousel-item ">
                  <a href="https://github.com/RasterCrow/MyAlexaSkills" rel="noopener" target="_blank">
                    <img src="{{- 'assets/data/alexa_banner.jpg' | relative_url -}}" class="d-block w-100"
                      alt="Alexa Banner">
                  </a>
                  
                  <div id="slide1" class="carousel-caption d-none d-md-block">
                    <h5 id="slide1Title">First slide label</h5>
                    <p id="slide1Text">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="http://rastercrow.altervista.org/" rel="noopener" target="_blank">
                    <img src="{{- 'assets/data/deepspace_banner.jpg' | relative_url -}}" class="d-block w-100"
                      alt="Deep Space Game Banner">
                  </a>
                  <div id="slide2" class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="https://www.facebook.com/webidea.ee/" rel="noopener" target="_blank">
                    <img src="{{- 'assets/data/navimon_banner.jpg' | relative_url -}}" class="d-block w-100"
                      alt="NaviMon App">
                  </a>
                  <div id="slide3" class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p id="slide3Text">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </div>
                
                <div class="carousel-item">
                  <a href="https://github.com/RasterCrow/DarioMocciaTracker-chrome" rel="noopener" target="_blank">
                    <img src="{{- 'assets/data/dariomoccia_banner.png' | relative_url -}}" class="d-block w-100"
                      alt="Dario Moccia Tracker Banner">
                  </a>
                  <div id="slide5" class="carousel-caption d-none d-md-block">
                    <h5 id="slide5Title">Second slide label</h5>
                    <p id="slide5Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselPortfolio" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselPortfolio" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <p id="portfolioText" class="card-inner-text">
            </p>
          </div>
        </div>
        <div class="collapse indent" id="collapseContacts">
          <div class="card shadow card-body">
            <p id="contactsText" class="card-inner-text">
            </p>
          </div>
        </div>
        <div class="collapse indent" id="collapseBlog">
          <div class="card shadow card-body">
            <div class="container-fluid postsContainer overflow-auto">

              {% assign allPosts=site.posts | where:"lang", "EN" %}
              {% assign postsCount = 2 %}
              {% for post in allPosts %}
              <!-- con risultato 0 devo fare una nuova row-->
              {% assign resto = postsCount | modulo:2%}
              {% if resto == 0 %}
              {% assign postsCount = 0 %}
              <div class="row justify-content-center ">
                <div class="col-lg-5">
                  
                    <div class="card card-body blogPost shadow overflow-auto">
                      <article>
                        <!-- <h2><a class ="stroke" href="{{ post.url }}">{{ post.title }}</a></h2>-->
                        <h2 class="titoloBlogPost">{{ post.title }}</h2>
                        <div class="dataText">Published on : &nbsp</div><p class="dataPost">{{ post.date | date_to_long_string}}</p>
                        <div>
                          {{ post.description }}
                        </div> 
                      </article>
                      <hr>
                      <footer class="lang-options">
                        {% assign postslang=site.posts | where:"lang-ref", post.lang-ref | sort: 'lang' %}
                        <em>View this post in :</em>
                        <ul>
                          {% for postlang in postslang %}
                          <li>
                            <a href="{{ site.base-url }}{{ postlang.url }}" rel="noopener" target="_blank" class="{{ postlang.lang }}" title="View in {{postlang.lang}}">
                              <img class="flagIcon" src="assets/data/{{ postlang.lang }}-flag.svg" alt="{{ postlang.lang }} flag">
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </footer>
                    </div>
                  
                </div>
                {% assign postsCount = postsCount | plus: 1 %}
                <!-- altrimenti faccio solo colonna-->
                {% else %}
                <div class="col-lg-5">
                  
                    <div class="card card-body blogPost shadow overflow-auto">
                      <article>
                        <!-- <h2><a class ="stroke" href="{{ post.url }}">{{ post.title }}</a></h2>-->
                        <h2 class="titoloBlogPost">{{ post.title }}</h2>
                        <div class="dataText">Published on : &nbsp</div><p class="dataPost">{{ post.date | date_to_long_string}}</p>
                        <div>
                          {{ post.description }}
                        </div> 
                      </article>
                      <hr>
                      <footer class="lang-options">
                        {% assign postslang=site.posts | where:"lang-ref", post.lang-ref | sort: 'lang' %}
                        <em>View this post in :</em>
                        <ul>
                          {% for postlang in postslang %}
                          <li>
                            <a href="{{ site.base-url }}{{ postlang.url }}" rel="noopener" target="_blank" class="{{ postlang.lang }}" title="View in {{postlang.lang}}">
                              <img class="flagIcon" src="assets/data/{{ postlang.lang }}-flag.svg" alt="{{ postlang.lang }} flag">
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </footer>
                    </div>
                </div>
              </div>
              {% assign postsCount = postsCount | plus: 1 %}
              {% endif %}
              {% endfor %}
              <!--Checks if there are more than 5 posts avaiable show home page of blog-->
              {% assign number_of_posts=site.posts | size %}
              {% if number_of_posts > 10 %}
              <!-- Shows link-->
              {% endif %}

              {% if postsCount == 1 %}
            </div>
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

    <script src="{{- 'assets/script.js' | relative_url -}}"></script>

</body>

</html>